<!-- Delete With Condition starts  -->
<br><br><br>
<legend style="color:black;font-weight:bold;">Section E. Delete With Condition</legend>

  <label for="Description">Description</label>
  <input type="text" id="deleteSoapDesc" [(ngModel)]="deleteSoapDescBonus.description" name="deleteSoapDesc">
  <p></p>

  <input type="submit" value="Delete With Condition" (click)="deleteSoapBonus()">

<!-- Delete With Condition ends  -->

<!-- Remove Duplicate starts  -->
<br><br><br>
<legend style="color:black;font-weight:bold;">Section F. Remove Duplicate Description</legend>

  <input type="submit" value="Remove" (click)="deleteDuplicate()">

<!-- Remove Duplicate ends  -->